/* Logo */
#logo
{
  -webkit-user-select: none;
  user-select: none;

  perspective: 50px;
}

#logo input
{ 
  display: block;
  position: absolute;  
  
  opacity: 0;
  z-index: 1;

  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#logo div
{
  backface-visibility: hidden;
  transform-style: preserve-3d;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#logo div:nth-child(2)
{
  position: absolute;

  transform: rotateY(0deg);
}

#logo div:nth-child(3)
{
  transform: rotateY(179deg);
}

#logo input:checked ~ div:nth-child(2)
{
  transform: rotateY(-179deg);
}

#logo input:checked ~ div:nth-child(3)
{
  transform: rotateY(0deg);
}