.glowingText {
  position: relative;
}

.glowPart{
    position: absolute;
    top: 0;
    z-index: -1;
}

.glowingText:hover .glowPart {

    animation: bg 2s linear infinite,  blur 2.7s linear infinite;
} 
  
.glowingText:hover .textPart {

  animation: bg 2s linear infinite;
} 
  
@keyframes bg {
  to { background-position: 200% center; }
}
  
@keyframes blur {
    0% { filter: blur(1px); }
   60% { filter: blur(1px); }
   70% { filter: blur(6px); }
   80% { filter: blur(1px);  }
   90% { filter: blur(6px); }
  100% { filter: blur(1px); }
}