.xray {

  position: relative;

  color: transparent;
}


.xray::before, .xray::after {
  content: attr(xray-text);
  mix-blend-mode: darken;
  position: absolute;
  color: transparent;
}

.xray::before {

  left: -1.5px;

  text-shadow: 
    0px 0px 0px #f00,
    -2px 0px 1px #ff0;
}

.xray::after {

  left: 0px;

  text-shadow: 
   0px 0px 0px #00f,
   2px 0px 1px #0ff;
}


@media (prefers-color-scheme: dark) {

  .xray::before, .xray::after {
    mix-blend-mode: lighten;
  }

  .xray::before {
    text-shadow: 
     0px 0px 0px #ff0,
    -2px 0px 1px #f00;
  }
  
  .xray::after {
    text-shadow: 
     0px 0px 0px #0ff,
     2px 0px 1px #00f;
  }

}

#card-carusel
{
  perspective: 1000px;
}

#card-carusel .card-left,
#card-carusel .card-main,
#card-carusel .card-right
{
  z-index: 0;
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  transition: transform 0.5s ease-in-out;
}

#card-carusel .card-right
{
  position: absolute;
  transform-origin: left;
  transform: translate(100%, 0) rotateY(120deg);
}

#card-carusel .card-main
{
  /* position: relative; */
  /* transform: none */
  transform-origin: left;
}


#card-carusel .card-left
{  
  position: absolute;
  transform-origin: right;
  transform: translate(-100%, 0) rotateY(-120deg);
}