@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --fore-color: #000;
  --back-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root
  {
    --fore-color: #fff;
    --back-color: #333;
  }

  html {
    color-scheme: dark;
  }
}

h1 {
  @apply text-center text-3xl;
}

h2{
  @apply text-2xl mt-3;
}

/* Align list bullets to the text */
ul {
  padding-left: 20px;
}

pre {
  @apply overflow-hidden p-2 rounded bg-gray-700 text-white whitespace-pre-wrap text-sm
}

/* Navbar */
#navbar
{
  z-index: 1;
  background-color: var(--back-color);
} 

/* Menu */
#menu
{  
  -webkit-user-select: none;
  user-select: none;
}

#menu input
{
  display: block;
  position: absolute;

  /* Size of the hamburger */
  width: 30px;
  height: 19px;
  
  opacity: 0;
  z-index: 1;

  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#menu span
{
  display: block;

  width: 30px;
  height: 2px;

  margin-bottom: 7px;
  
  /* background: currentColor; */
  background: rgba(107,114,128,1);
  
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu span:nth-child(4)
{
  margin-bottom: 0;
}

#menu input:checked ~ span:nth-child(2)
{
  transform: translate(0px, 9px) rotate(45deg);
}

#menu input:checked ~ span:nth-child(3)
{
  opacity: 0;  
  transform: scale(0, 1);
}

#menu input:checked ~ span:nth-child(4)
{
  transform: translate(0px, -9px) rotate(-45deg);
}

#menu nav
{
  position: fixed;
  top: 51px;
  right: 0;
  
  background-color: var(--back-color);

  transform: translate(100%, 0);
  opacity: 0;
}

#menu input:checked ~ nav
{
  transform: none;
  opacity: 1;
}