@import 'tailwindcss';


@theme {

  --animate-gradient: gradient 2s linear infinite;

  @keyframes gradient {
    to { background-position: 200% center }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer base {

h1 {
  @apply text-center text-3xl;
}

h2 {
  @apply text-2xl mt-3;
}

h3, h4 {
  @apply text-xl font-medium;
}

a {
  @apply text-sky-600 hover:text-sky-700
}

button
{
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 rounded-sm;
}

button:disabled
{
  @apply bg-gray-500 text-gray-700;
}

ul {
  @apply list-disc ml-4;
}

li::marker {
  @apply text-gray-500;
}

ul ul {
  list-style-type: "- ";
}

ol {
  @apply list-decimal list-inside;
}

pre {
  @apply overflow-hidden p-2 rounded-sm bg-gray-700 text-white whitespace-pre-wrap text-sm
}

}