@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  @apply text-center text-3xl;
}

h2{
  @apply text-2xl mt-3;
}

a {
  @apply text-sky-600 hover:text-sky-700
}

button
{
  @apply bg-blue-500 hover:bg-blue-700 text-white py-1 rounded;
}

button:disabled
{
  @apply bg-gray-500 text-gray-700;
}

/* Align list bullets to the text */
ul {
  padding-left: 20px;
}

pre {
  @apply overflow-hidden p-2 rounded bg-gray-700 text-white whitespace-pre-wrap text-sm
}