.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 8rem;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.contactList ul {
  margin: 0;
  text-align: center;
}

.contactList li {
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  margin: 0rem 0.5rem;
}

.main h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.main h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.7rem;
}

.main h3,
.main h4 {
  font-size: 1.2rem;
  font-weight: 500;  
}

.grey {
  color: #888;
}

.experience_company {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.experience_company_logo {
  width: 3rem;
  height: 3rem;
}

.experience_company_content {
  width: calc(100% - 3rem);
  margin-left: 1rem;
}

.experience_position_content {
  margin-top: 1rem;
}

.experience_position_content:only-child {
  margin-top: 0;
}

.mt_0_5 {
  margin-top: 0.5rem;
}

.ml_3 {
  margin-left: 4rem;
}

.align_middle {
  vertical-align: middle;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 1rem;
  }
}

