.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 8rem;
  min-height: 100vh;
}

.main h1 {
  color: #005493;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.main h2 {
  color: #005493;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.7rem;
}

.main h3 {
  font-size: 1.2rem;
  font-weight: 400; 
  margin: 0;  
}

.main h4 {
  font-size: 1rem;
  font-weight: 600;
}

.main p {
  margin-top: 0.2rem;
}

.section {
  margin-left: 1rem;
}

.main ul {
  margin-left: 1rem;
}

.grey {
  color: #888;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.contactList ul {
  margin: 0;
  text-align: center;
}

.contactList li {
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  margin: 0rem 0.5rem;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience_company {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.experience_company_logo {
  width: 2rem;
  height: 2rem;
  background-color: #aaa;
}

.experience_company_box {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

.experience_position_box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.experience_position_box span {
  position: relative;
  display: block;
  border-radius: 50%;
  height: .4rem;
  width: .4rem;
  background-color: #aaa;
  top: 1rem;
  left: -2.2rem;
}

.experience_position_box div {
  position: relative;
}

.experience_position_box div:before {
  content: "";
  position: absolute;
  left: calc(-2rem - 1px);
  top: 1.9rem;
  height: calc(100% - 1.0rem);
  width: 2px;
  background-color: #aaa;
}

.experience_position_box:last-child div:before{
  content: none;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0.1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

