.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 8rem;
  min-height: 100vh;
}

.main h1 {
  color: #005493;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.main h2 {
  color: #005493;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.7rem;
}

.main h3 {
  font-size: 1rem;
  font-weight: 700;  
}

.main p {
  margin-top: 0.2rem;
}

.section {
  margin-left: 1rem;
}

.main ul {
  margin-left: 1rem;
}

.grey {
  color: #888;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.contactList ul {
  margin: 0;
  text-align: center;
}

.contactList li {
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  margin: 0rem 0.5rem;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience_company {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.experience_company_logo {
  width: 3rem;
  height: 3rem;
}

.experience_company_logo img {
  width: 100%;
  height: 100%;
}

.experience_company_box {
  width: calc(100% - 3rem);
  margin-left: 1rem;
}

.experience_position_box {
  margin-top: 1rem;

}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0.1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

